@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 10px;
  font-family: "Nunito", sans-serif;
}

.login-container--right {
  background-color: #87c1cc;
}

@media screen and (min-width: 768px) {
  .login-container--left {
    height: 100vh;
  }

  .login-container--right {
    height: 100vh;
    background-color: #87c1cc;
  }
}

/* .login-container {
  width: 100vw;
  height: 100vh;
} */


